@import '../../../style/variables.scss';

.shopping {
    &__card {
        padding-bottom: 30px;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        align-items: flex-start
    }
    &__send{
        display: flex;
        margin-top: 25px;
        font-size: 28px;
        font-weight: 600;
        float: right;
        padding-bottom: 20px;
    }
    &__send button {
        margin-left: 50px;
        font-size: 20px;
        padding: 7px 28px;
        border: 2px solid $blue;
        color: $light-blue;
        background-color: $blue;
        border-radius: 10px;
        transition: color, background-color, .5s;
    }
    &__send button:hover {
        transition: color, background-color, .5s;
        background-color: $light-blue;
        color: $main-color;
    }
    &__send button:disabled {
        background-color: #c6c6c6;
        color: #000;
    }
    &__send button:disabled:hover {
        transition: none;
        background-color: none;
        color: #000;
    }
    &__address-text{
        font-style: italic;
        font-size: 16px;
        margin: 10px 0;
        color: #2639e4;
    }
    &__find-address {
        position: relative;
        & label {
            font-size: 16px;
            font-style: italic;
        }
        & input {
            padding: 5px 10px;
            font-size: 16px;
        }

    }
    &__address-list{
        position: absolute;
        padding: 10px 0;
        margin-bottom: 10px;
        overflow: hidden;
        font-size: 16px;
        & li {
            overflow: hidden;
            padding: 3px 5px 3px 5px;
            background-color: #e4e4e4;
            border: 1px solid #1626b6;
            cursor: pointer;
        }
    }
    &__captcha {
        display: flex;
        justify-content: end;
        margin-top: 10px;
    }
    &__error {
        font-weight: 600;
        font-size: 28px;
        text-align: end;
        color: #c61f1f;
        margin-top: 5px;
    }
    &__success {
        font-size: 28px;
        text-align: end;
        color: #0ea522;
        margin-top: 5px;
        font-weight: 600;
    }
}

@media(max-width: 748px) {
    .shopping {
        &__info{
            flex-direction: column-reverse;
        }
    }
}